<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KyBook Notes Parser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="webjars/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ideas</h3>
        </div>
        <div class="panel-body" th:utext="${Green}">
            Panel content
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Quotes</h3>
        </div>
        <div class="panel-body" th:utext="${Yellow}">
            Panel content
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Next Action</h3>
        </div>
        <div class="panel-body" th:utext="${Purple}">
            Panel content
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Books</h3>
        </div>
        <div class="panel-body" th:utext="${Blue}">
            Panel content
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">New Words</h3>
        </div>
        <div class="panel-body" th:utext="${Red}">
            Panel content
        </div>
    </div>
</body>
</html>