<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KyBook Notes Parser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="webjars/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Welcome!</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">KyBook Notes Parser</h3>
    </div>
    <div class="panel-body">
        This is free tool to parse <a href="http://kybook-reader.com/">KyBook</a> notes format into something suitable
        for your purposes. <a href="mailto:magician3000@yandex.ru">Write me a message</a> or <a
            href="https://github.com/Ranunculus">create pull request</a> to extend functionality.
    </div>
</div>
<form method="post" th:action="@{/textarea}">
    <!--<div class="btn-group" role="group">-->
    <!--<input type="file" id="exampleInputFile"/>-->
    <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--Dropdown-->
    <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu">-->
    <!--<li><a href="#">Dropdown link</a></li>-->
    <!--<li><a href="#">Dropdown link</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="form-group">
        <textarea id="notes" class="form-control" rows="20" name="notes"></textarea>
    </div>
    <div class="form-group">

        <button id="send" type="submit" class="btn btn-default">Convert</button>
    </div>

</form>
</body>
</html>